<% provide :title, "About" %>

<div class="container">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>Welcome to LilyHub!</h1>
      <h3>So what's going on here?</h3>
      <p>LilyHub is here to bring your daily <a href="http://lilypond.org">LilyPond</a> practices to the realm of global social internets.
Type in some Lily-code, watch it render and share it with the world (or don’t – publish it privately so only you and your associates can access it). Quite a no-brainer.</p>
      <h3>What kind of name is 'LilyHub' anyway?</h3>
      <p><em>Lily</em> is obviously for LilyPond. <em>Hub</em> is an ambitious suffix that stands for community effort. LilyHub, thus, is where LilyPond meets modern web’s fanciness.</p>
      <h3>Do I even need this? I’m perfectly fine with [<em>your favourite LilyPond tool</em>].</h3>
      <p>LilyHub's main goal is to bring your LilyPond oeuvre under the spotlight.</p>
      <p>If you’ve never felt like sketching out a tune playing in your head and sharing it with friends while you, say, ride on a bus or don’t have a computer with LilyPond installed at hand – well, then you probably don’t need it. Otherwise, give it a shot.</p>
      <p>There's another good thing about LilyHub: if you are completely new to LilyPond, this could be just the place to dip your toes into its calm waters. LilyHub doesn’t require any command-line knowledge, and you don’t need to familiarize yourself with those scary editors. And syntax highlighting is there for you, too.</p>
      <p>To embark on your journey to LilyPond, head to our <%= link_to "introductory guide", guide_path %>, or <%= link_to "start engraving", root_path %> things right away.</p>
    </div>
  </div>
</div>
