<footer>
  <div class="container-fluid">
    <div class="col-md-5 col-xs-12">
      <small>
        <ul class="footer-links">
          <li>© 2014–2015 LilyHub</li>
          <li><a href="https://github.com/superkonduktr/LilyHub/blob/master/LICENSE">MIT License</a></li>
          <li><a href="http://lilypond.org">GNU LilyPond</a></li>
        </ul>
      </small>
    </div>
    <div class="col-md-2">
      <span class="footer-qrest"><%= image_tag "quarter-rest-64.png", alt: "LilyHub" %></span>
    </div>
    <div class="col-md-5 col-xs-12">
      <small>
        <ul class="footer-links">
          <li><a href="https://github.com/superkonduktr/LilyHub"><%= image_tag "GitHub-Mark-32px.png", class: "footer-img-link", alt: "LilyHub on Github" %></a></li>
          <li><a href="https://twitter.com/lilyhub_co"><%= image_tag "twitter-32.png", class: "footer-img-link", alt: "LilyHub Twitter" %></a></li>
          <li>By <a href="https://github.com/superkonduktr">superkonduktr</a> & <a href="https://github.com/prepor">prepor</a>.</li>
        </ul>
      </small>
    </div>
  </div>
</footer>
